<?xml version='1.0' encoding='utf-8'?>
<widget id="eu.kotrzena.cnbExchangeRates" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Cosmic Escape</name>
    <description>
        SPAAAAACE!
    </description>
    <author email="lkotrzena@gmail.com" href="http://kotrzena.eu">
        Lukáš Kotržena
    </author>
    <content src="index.html" />
	<preference name="Orientation" value="portrait" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />
    <plugin name="cordova-plugin-device" source="npm" spec="~1.1.1" />
    <plugin name="cordova-plugin-device-motion" source="npm" spec="~1.2.0" />
    <plugin name="cordova-plugin-device-orientation" source="npm" spec="~1.0.2" />
    <plugin name="cordova-plugin-splashscreen" source="npm" spec="~3.2.1" />
    <platform name="android">
        <icon density="ldpi" src="www/res/icons/android/icon-36-ldpi.png" />
        <icon density="mdpi" src="www/res/icons/android/icon-48-mdpi.png" />
        <icon density="hdpi" src="www/res/icons/android/icon-72-hdpi.png" />
        <icon density="xhdpi" src="www/res/icons/android/icon-96-xhdpi.png" />
        <icon density="xxhdpi" src="www/res/icons/android/icon-144-xxhdpi.png" />
        <icon density="xxxhdpi" src="www/res/icons/android/icon-192-xxxhdpi.png" />
        <splash density="port-ldpi" src="www/res/screens/android/screen-hdpi-portrait.png" />
        <splash density="port-mdpi" src="www/res/screens/android/screen-ldpi-portrait.png" />
        <splash density="port-hdpi" src="www/res/screens/android/screen-mdpi-portrait.png" />
        <splash density="port-xhdpi" src="www/res/screens/android/screen-xhdpi-portrait.png" />
        <splash density="port-xxhdpi" src="www/res/screens/android/screen-xxhdpi-portrait.png" />
        <splash density="port-xxxhdpi" src="www/res/screens/android/screen-xxxhdpi-portrait.png" />
    </platform>
    <platform name="ios">
        <icon height="57" platform="ios" src="www/res/icons/ios/icon.png" width="57" />
        <icon height="114" platform="ios" src="www/res/icons/ios/icon-2x.png" width="114" />
        <icon height="40" platform="ios" src="www/res/icons/ios/icon-40.png" width="40" />
        <icon height="80" platform="ios" src="www/res/icons/ios/icon-40-2x.png" width="80" />
        <icon height="50" platform="ios" src="www/res/icons/ios/icon-50.png" width="50" />
        <icon height="100" platform="ios" src="www/res/icons/ios/icon-50-2x.png" width="100" />
        <icon height="60" platform="ios" src="www/res/icons/ios/icon-60.png" width="60" />
        <icon height="120" platform="ios" src="www/res/icons/ios/icon-60-2x.png" width="120" />
        <icon height="180" platform="ios" src="www/res/icons/ios/icon-60-3x.png" width="180" />
        <icon height="72" platform="ios" src="www/res/icons/ios/icon-72.png" width="72" />
        <icon height="144" platform="ios" src="www/res/icons/ios/icon-72-2x.png" width="144" />
        <icon height="76" platform="ios" src="www/res/icons/ios/icon-76.png" width="76" />
        <icon height="152" platform="ios" src="www/res/icons/ios/icon-76-2x.png" width="152" />
        <icon height="29" platform="ios" src="www/res/icons/ios/icon-small.png" width="29" />
        <icon height="58" platform="ios" src="www/res/icons/ios/icon-small-2x.png" width="58" />
        <splash height="1024" platform="ios" src="www/res/screens/ios/screen-ipad-portrait.png" width="768" />
        <splash height="2048" platform="ios" src="www/res/screens/ios/screen-ipad-portrait-2x.png" width="1536" />
        <splash height="480" platform="ios" src="www/res/screens/ios/screen-iphone-portrait.png" width="320" />
        <splash height="960" platform="ios" src="www/res/screens/ios/screen-iphone-portrait-2x.png" width="640" />
        <splash height="1136" platform="ios" src="www/res/screens/ios/screen-iphone-portrait-568h-2x.png" width="640" />
        <splash height="1334" platform="ios" src="www/res/screens/ios/screen-iphone-portrait-667h.png" width="750" />
        <splash height="2208" platform="ios" src="www/res/screens/ios/screen-iphone-portrait-736h.png" width="1242" />
    </platform>
    <platform name="wp8">
        <icon height="99" platform="wp8" src="www/res/icons/wp8/ApplicationIcon.png" width="99" />
        <icon height="159" platform="wp8" src="www/res/icons/wp8/Background.png" width="159" />
        <splash height="1280" platform="wp8" src="www/res/screens/wp8/SplashScreenImage.jpg" width="768" />
    </platform>
    <platform name="windows">
        <icon height="150" platform="windows" src="www/res/icons/windows/logo.png" width="150" />
        <icon height="30" platform="windows" src="www/res/icons/windows/smalllogo.png" width="30" />
        <icon height="50" platform="windows" src="www/res/icon/windows/storelogo" width="50" />
        <splash height="300" platform="windows" src="www/res/screens/windows/splashscreen.png" width="620" />
    </platform>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
